openai-agents~=0.18.3
python-dotenv>=1.2.3

opentelemetry-sdk~=1.43.0
opentelemetry-exporter-otlp-proto-grpc~=1.43.0
opentelemetry-instrumentation-genai-openai~=1.0b0
opentelemetry-instrumentation-genai-openai-agents~=1.0b0